requests
colorama
paramiko                                                                pymysql
pg8000
pymongo
ldap3
impacket                                                                pycryptodome